.card-ca{
  border-radius: 0px !important;
  border: none;
  width: 100% !important;
  position: relative;
}

.card-read-more{
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.card-img-top-ca{
  border-radius: 0px !important;
  height: 270px;
}

.card-body-ca{
  height: 239px;
}

.card-text{
  font-family: 'Campton-Light';
}
