.carousel-caption-home{
  top:20px;
  left: 60%;
  color: $gray !important;

  .list-inline-item a{
    cursor: pointer;
  }

  &__right{
    padding: 10px;
    width: 270px;
    background-color: $white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 444px;

    img{
      width: 90px;
    }
  }
  &__title{
    color: $green-carousel;
    font-family: 'Campton-Bold';
  }

  &__descripcion{
    font-family: 'Campton-Light';
    height: 193px;
  }

}

.carousel-caption-contacto{
  right: 0px !important;
  left: 15%;
  bottom: 20%;
  text-align: unset;
  &__title{
    font-family: 'Hollaboi';
    color: $green-menu;
    font-size: 6em;
  }
  &__description{
    width: 35%;
    text-align: center;
    font-family: 'Campton-Book';
  }
}

.carousel-caption-afiliate{
  right: 0px !important;
  left: 15%;
  bottom: 28%;
  text-align: unset;
  &__title{
    font-family: 'Hollaboi';
    color: $green-menu;
    font-size: 7.5em;
  }

  &__content{
    width: 35%;
  }

  &__subtitle{
    font-family: 'Campton-Book';
    color: $white;
    font-size: 1.5em;

    text-align: center;
  }
  &__description{
    text-align: center;
    font-family: 'Campton-Book';

    font-size: 0.8em;
  }
}

.carousel-caption-blog{
  right: 0% !important;
  left: 55%;
  bottom: 25%;
  text-align: unset;
  &__title{
    font-family: 'Campton-Book';
    font-size: 2em;
  }
  &__subtitle{
    font-family: 'Hollaboi';
    color: $green-menu;
    font-size: 10em;
    letter-spacing: 7px;
    margin-top: -65px;
  }
  &__description{
    font-family: 'Campton-Light';
    width: 60%;
  }

  &__btn{
    background-color: $white;
    padding: 2px 0.75rem;
    line-height: 19.6px;
    border-radius: 1rem;
    padding-top: 6px;
    font-family: 'Campton-Book';
    color: $blue-four;
    border: none;
  }
}

.slider-icon{
  width: 90px;
  height: 96px;
}

/************************* responsivo *****************************/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}
@include media-breakpoint-down(sm) {

  .carousel-caption-home{
    padding: 10px 20px;
  }

  .carousel-caption-home__right {
    width: 100%;
    text-align: center;
  }

  .carousel-caption-home__descripcion {
    padding: 0px 20px;
  }

  .carousel-caption-contacto{
    left: 5%;
    bottom: -12%;
    &__title{
      font-size: 3em;
    }
    &__description{
      font-size: 9px;
      width: 59%;
    }
  }
  .carousel-caption-blog {
    left: 45%;
    bottom: -6%;
    &__title{
      font-size: 0.7em;
    }
    &__subtitle{
      font-size: 3em;
      margin-top: -16px;
    }
    &__description{
      width: 94%;
      font-size: 9px;
    }
    &__btn-carousel{
      padding: 5px 0.75rem;
      line-height: 15px
    }
  }
}