.section-blog{

  &__content{
    position: absolute;
    right: 0 !important;
    left: 0;
    bottom: 4%;
    padding: 0px 10px;
    text-align: center;
  }

  &__title{
    font-family: 'Campton-ExtraBold';
    color: $green-menu;
    font-size: 2em;
  }

  &__description{
    font-family: 'Campton-Book';
    font-size: 0.8em;
    color: $white;
  }

}