.solicita-credito{
  &__title{
    font-family: 'Campton-Bold';
    color: $blue;
    font-size: 2.5rem;
  }
  &__subtitle{
    display: block;
    font-size: 0.6em;
    font-family: 'Campton-Book';
    color: $green-carousel;
    font-size: 1.6em;
  }

  &__icon{
    width: 60px;
  }

}

/************************* responsivo *****************************/
@include media-breakpoint-down(sm) {
  .solicita-credito{

    &__title{
      font-size: 1.2rem;
    }
    &__subtitle{
      font-size: 11px;
    }
    &__icon{
      width: 40px;
    }
  }
}